
<div>
    <br /> <br />
    <button data-bind="ojComponent: {
                        component: 'ojButton', 
                                icons: {end:'oj-fwk-icon-caret-end oj-fwk-icon'}, 
                        label: 'Adicionar novo Usuário'},
icons: {end:'oj-fwk-icon-caret-end oj-fwk-icon'}, 
                        click: addCustomer
            ">

    </button>
    <br /> <br />

    <table  id="customers" 
           summary="Customer Table"
           aria-label="Customers Table"
           data-bind="ojComponent: {component: 'ojTable',
                
                data: customers,
                rootAttributes: {'style':'width: 100%; height:100%;'},
                columns: [
                    {headerText: 'ID', field: 'id'},
                    {headerText: 'NOME', field: 'nome'},
                    {headerText: 'EMAIL', field: 'email' , headerClassName: 'oj-sm-only-hide', className: 'oj-sm-only-hide'},
                    {headerText: 'DESCRIÇÃO', field: 'descricao'},
                    {headerText: 'AÇÕES', field: 'operations'}],
                rowTemplate: 'row_template'}">
    </table>
</div>

<script type="text/html" id="row_template">
    <tr>
        <td data-bind="text: id"></td> 
        <td data-bind="text: nome"></td>
        <td data-bind="text: email"></td>
        <td data-bind="text: descricao"></td>
        <td>
            <button data-bind="click: function() {$parent.editCustomer(id) }, ojComponent: {component: 'ojButton',
                                                                                              display: 'icons', 
                                                                                              icons: {end: 'oj-fwk-icon-caret-end oj-fwk-icon'},
                                                                                              label: 'Edit'}">
            </button>
            <button data-bind="click: function() {$parent.deleteCustomer($parent, id)}, ojComponent: {component: 'ojButton', 
                                                                                                   display: 'icons', 
                                                                                                   icons: {end:'demo-garbage-icon-24 demo-icon-font-24'},
                                                                                                   label: 'Remove'}">
            </button>
        </td>
    </tr>
</script>
